/* 
    Created on : 01/03/2018, 08:43:15
    Author     : Maicon Messias
*/

.panel-mainmenu {
  position: relative;
}

#dadosUsuario {
  position: absolute;
  font-size: 16px;
  left: 87%;  
  top: 5px;
}

