/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/02/2018, 23:23:25
    Author     : Maicon Messias
*/

.panelGrid {
  position: relative; 
  margin: 0 auto;
  width: 1020px;
  margin-top: 10px;
}

.error{
  color:red
}

/*filtro*/
.container-filtro-grid {
  margin: 0 auto;
  width: 1020px;
  margin-top: 10px;
}

.container-filtro-grid .panel-filtro-grid {
  position: relative;
}

.container-filtro-grid .panel-filtro-grid .group-input-id {
  /*position: absolute;*/
  width: 80px;
}

.container-filtro-grid .panel-filtro-grid .group-input-nome {
  position: absolute;
  width: 300px;
  left: 120px;
  top: 15px;
}

.container-filtro-grid .panel-filtro-grid .group-input-rg {
  position: absolute;
  width: 150px;
  left: 440px;
  top: 15px;
}

.container-filtro-grid .panel-filtro-grid .group-input-cpf {
  position: absolute;
  width: 150px;
  left: 610px;
  top: 15px;
}
